{% extends 'base.html' %} {% block content %} {% load static %}
<section class="content">
    <section class="header">
        <img
            class="techisLogo"
            src="{% static 'img/techislogo.svg' %}"
            alt="Tech I.S. Logo"
        />
        <h1 class="headerText">Home</h1>
    </section>
    <section class="postForm">
        <img class="userIcon" src="{% static 'img/user.jpg' %}" alt="" />
        <form
            action="/"
            method="POST"
            enctype="multipart/form-data"
            autocomplete="off"
        >
            {% csrf_token %}
            <input
                class="nameInput"
                type="text"
                name="name"
                placeholder="Your Name"
                maxlength="14"
                required
            />
            <textarea
                name="body"
                placeholder="What's happening?"
                required
            ></textarea>
            <div class="buttons">
                <div class="visibleFileInput">
                    <label class="uploadLabel" for="inputForFile">
                        Upload Image
                    </label>
                    <p id="fileName"></p>
                </div>
                <input
                    id="inputForFile"
                    class="fileInput"
                    type="file"
                    name="image"
                />
                <input class="submitButton" type="submit" value="Tweet" />
            </div>
        </form>
    </section>
    <div class="divider"></div>
    <section class="posts">
        <ul>
            {% for post in posts %}
            <li>
                <img
                    class="menuIcon jsMenuIcon"
                    src="{% static 'img/option.png' %}"
                    alt="Menu icon"
                />
                <div class="menu">
                    <a href="/delete/{{ post.id }}">Delete</a>
                    <a href="/edit/{{ post.id }}">Edit</a>
                    <!-- <i class="fas fa-trash-alt"></i> -->
                </div>
                <div class="logo">
                    <img src="{% static 'img/user.jpg' %}" alt="User img" />
                </div>
                <div class="postBodyHolder">
                    <div class="nameBody">
                        <div class="name">{{ post.name }}</div>
                        <div class="dateTime">{{ post.createdAt }}</div>
                        <p>{{ post.body }}</p>
                    </div>
                    {% if post.image %}
                    <div class="imgHolder">
                        <a href="{{ post.image.url }}" target="_blank"
                            ><img src="{{ post.image.url }}" alt=""
                        /></a>
                    </div>
                    {% endif %}
                    <div class="likes">
                        <a href="/addLike/{{ post.id }}">
                            <i class="far fa-heart"></i>
                        </a>
                        <p class="likeAmount">{{ post.likes }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/post.js' %}"></script>
</section>
{% endblock %}
